{
    "someotherjson":
    [
        "12",
        17,
        true,
        {"anObject":"which is a string"}
    ],
    "appbuild":
    {
        "configurations": {
            "default": {
                "default": false,
                "target": "executable",
                "compiler": "gcc",
                "linker": "gcc",
                "archiver": "ar",
                "output_path": "./bin/debug/",
                "output_name": "embedded-project",
                "standard": "c++14",
                "optimisation": "0",
                "debug_level": "2",
                "warnings_as_errors": false,
                "enable_all_warnings": false,
                "fatal_errors": false,
                "include": [
                    "/usr/include/"
                ],
                "libs": [
                    "m",
                    "stdc++",
                    "pthread"
                ],
                "define": [
                    "DEBUG_BUILD"
                ]
            }
        },
        "source_files": [
            "embedded-project.cpp"
        ]
    },
	"folders": [
		{
			"path": "."
		}
	],
	"settings": {
        "run":true,
        "file":"fred.txt"
    }
}
